
/* 首页中的酒店页 */
.hotel_topImg{
    width: 100%;
    height: 18.8rem;
    /* background-color: red; */
    background-image: url("./images/hotel_bgi.jpg");
    background-size:cover ;
    background-repeat: no-repeat;
    position: relative;
}
.hotel_topImg .return_ioc{
    position: absolute;
    
    display: inline-block;
    width: 12%;
    height: 12%;
    top: 1.2rem;
    left: 1.8rem;
    background-image: url("./images/return2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
    
}
.hotel_topImg .middle_topimg{
    display: block;
    height: 20%; 
    position: absolute;
    top: 1.2rem;
    right: 6rem;
    color: #fff;
}
.hotel_topImg .right_topimg{
    display: block;
    height: 20%; 
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    color: #fff;
}
.hotel_topImg .middle_ioc{
    display: block;
    margin-left: 23%;
    width: 50%;
    height: 40%;
    background-image: url("./images/red_money.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
}
.hotel_topImg .right_ico{
    display: block;
    margin-left: 23%;
    width: 50%;
    height: 40%;
    background-image: url("./images/small_hotel.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 0;
}
/* tab start */
.line-tab-box{
    position: relative;
    margin: -54px 12px 0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    font-size: 1.8rem;
}
.line-tab-box .el-tabs{
    width: 100%;
    height: 100%;
    background-color: #fff;
    
}
.el-tabs__nav{
    width: 100%;
    height: 5.5rem;
    display: flex;
}
#tab-0,#tab-1{
    height: 40px;
    text-align: center;
    line-height: 5.5rem;
    font-size: 1.6rem;
    color: #000;
    
}
.el-tabs__item{
    width: 50%;
}


/* 全日房 start */
.location{
    height: 6rem;
    width: 100%;
     /* background-color: gold; */
     position: relative;
}
.grid-content{
    text-align: center;
    line-height: 6rem;
}
.grid-line{
    line-height: 6rem;
    font-size:2.5rem;
    color: #303133;
}
.grid-dingwei{
    text-align: center;
}
.my_location .dingwei{
    display: block;
    width: 2rem;
    height: 2rem;
    background-image: url("./images/location.png");
    background-repeat: no-repeat;
    background-position: center,center;
    background-size: 2rem 2rem;
    /* box-sizing: border-box; */
    /* padding: 1.5rem 0 1rem 2rem; */
    margin:  1rem 0 0.5rem 3.5rem;
    color: rgb(96, 125, 139);
}
.my_location{
    font-size: 1.5rem;
}
.location{
    border-bottom: 0.1rem solid #edf2f5;
}
/* .midd_ul ul{
    display: flex;
} */
.midd_ul li{
    line-height: 2.5rem;
}
.date_xuanze{
    font-size: 1.8rem;
}
.date_day , .check-in_time{
    margin-right: 0.5rem;
}
.check-in_time{
    font-size: 1rem;
    color: #8c8c8c;
}
.hotal_price .midd{
    font-size: 16px;
    color: #bdbdbd;
}
.search_hotal_name .midd {
    /* color: #bdbdbd; */
    font-size: 16px;
}
search_hotal_name .midd input:focus{
    color: #303133
}
.search_btn{
    height: 60px;
}
.search_btn .btn_button{
    width: 95%;
    height: 40px;
    background-color: #ff9800;
    border-radius: 5px;
    margin: 0 auto;
    text-align: center;
    line-height: 40px;
    color: #fff;
    margin-top: 10px;
}
.search_btn .btn_button a{
    color: #fff;
}
.other-link{
    /* font-size: 14px;
    color:  #7a7d9a; */
}
.other-link_css{
    color: #7a7d9a;
    font-size: 14px;
    border-right: 1px solid #edf2f5;
}
.other-link .other-link_css .last_link{
    border-right: none;
}
.search_input input { 
    width: 100%;
    border: none;
    outline: none; 
    -webkit-appearance: none;
 }
 .date{
     height: 8rem;
 }
/* 全日房 end */
/* 钟点房start */
.start{
    margin: 3rem 0;
}
.search_price p{
    display: inline-block;
    font-size: 1.6rem;
    padding: 2rem 0 1rem 2rem;
}
/* tab end */
.bodycss{
    position: fixed;
    background-color: #edf2f5;
    height: 667px;
}

#border_start{
    border: 1px solid #25a4bb;
}
.el-slider__runway.show-input{
margin-right: 9rem;
}
.search_price .el-slider{
padding-left: 3rem;
}
/* 首页中的酒店页end */
/* 首页end */