/* 首页 */


/* 顶部搜索框 */
.search{
    width: 100%;
    /* height: 5%; */
  
    display: flex;  
    align-items: center;  
    justify-content: center;
}
.search .city{
    width: 20%;
    height: 100%;

    
}
.search .city a{
    display: block;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;  
    justify-content: center;
    color: #fff;
    font-size: 1.275em;

}

.search .city img{
    width: 30%;
    height: 60%;
    margin-top: 3%;

}
.search .searchInput{
    width: 65%;
    height: 100%;
    border-radius: 2%;
    background-color: #fff;
    padding: 1% 2% 1% 2%;
    box-sizing: border-box;
    display: flex;
    align-items: center;  
    justify-content: center;
    border-radius: 5px;
  
}
.search .searchInput .search_ioc{
    width: 20%;
    height: 100%;

    display: flex;
    align-items: center;  
    justify-content: center;
   
}
.search .searchInput .search_ioc i{

    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;  
    justify-content: center;
}
.search .searchInput .search_ioc img{
    width: 60%;
    height: 90%;
    
}
.search .searchInput .search_text{
    width: 60%;
    height: 100%;
    /* background-color: salmon; */
}
.search .searchInput .search_text input{
    width: 100%;
    height: 100%;
    outline: none;
    border-width: 0px;
    font-size: 1.2em;
}
.search .searchInput .search_rabot{
    width: 20%;
    height: 100%;

    display: flex;
    align-items: center;  
    justify-content: center;
    
    
}
.search .searchInput .search_rabot img{
    width: 70%;
    height: 80%;

}
.search .messageImg{
    width: 15%;
    height: 100%;

    display: flex;
    align-items: center;  
    justify-content: center;
    
}
.search .messageImg i{
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color:#ff3838;
    position: absolute;
    top: 4px;
    right: 5px;
}
.search .messageImg img{
    width: 50%;
    height: 80%;
}

/* 顶部轮播 */
.swipe_s,wv-swipe-item , .swipe_s img{
    width: 100%;
    height: 100%;
}
/* 顶部结束 */

/* 详细分类开始 */
.big_category{
    /* width:100% ;
    height: 100%; */
    margin-top: 1rem;
    font-size: 1.5rem;
    color: #fff;
    padding: 0.4rem 0.4rem 0.2rem;
    /* border-radius: 0.5rem; */
}
.big_category .small_category{
    width: 100%;
   height: 10rem;
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
    
}
/* 公共样式 */
.big_category a{
    color: #fff;
}
.big_category .total_left{
    /* display: block; */
    width: 33.33%;
    height: 100%;
    /* background-color: red; */
    background-size: 40% 50%;
    background-repeat: no-repeat;
    background-position: center bottom;
    display: flex;
    justify-content: center;
    border-right: 1px solid rgb(214, 210, 210);
    text-decoration:none;
    color: #fff;
}
.big_category  p{
    /* box-sizing: border-box; */
    padding-top: 10% ;
 }
 /* 公共样式end */
.big_category .category_hotal{
    background-color: #ff5764;
}
.big_category .category_fligth{
    background-color: #5b94ff;
}
.big_category .category_holiday{
    background-color: #00d581;
}
.big_category .category_hotal .hotal_left{
    background-image: url("./images/category_hotel.png");
}
.big_category .category_fligth .fligth_left{
    background-image: url("./images/category_flight.png");
}
.big_category .category_holiday .holiday_left{
    background-image: url("./images/category_holiday.png");
}
.middle_coumn{
    width: 33.33%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: pink; */
    border-right: 1px solid rgb(214, 210, 210);
    border-top: none;
}
/* div */

.category_s{
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgb(214, 210, 210);;
    
}
.big_category .category_money{
    width: 100%;
   height: 5rem;
    display: flex;
    justify-content: center;

}
/* 没有右边框 */
.noborder_right{
    border-right: none;
}
/* 没有上边框 */
.noborder_top{
    border-top: none;
}
/* 详细分类结束 */

/* 带有图标的分类开始 */
.ioc_category{
    margin-top: 1rem;
    /* background-color: red; */
    width: 100%;
    height: 15rem;
    flex-wrap:wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.ioc_category .small_ioc{
    width: 20%;
    height: 50%;
}
.ioc_category .small_ioc {
    display: flex;
    flex-wrap: wrap;
}
.ioc_category .small_ioc i , .ioc_category .small_ioc p{
    display: block;
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: center;
}
.ioc_category .small_ioc img{
    height: 100%;
}

/* 带有分类的图标结束 */
/*首页底部*/
.page-footer{ width: 100%; box-shadow: 0 -1px 4px #d7d7d7;  overflow: hidden;}
.page-footer ul{ width: 100%; background-color: #fff; overflow: hidden;}
.page-footer ul li{  float: left; width: 25%; text-align: center; padding: 1% 0; }
.page-footer ul li a{ width: 100%; display: block;}
.page-footer ul li img{  width: 30%;}
.page-footer ul li p{ font-size: 1.275em; color: #888d8c;margin-top: 3%;}
.page-footer ul .footer_active p{ color: #49cfe4;}
/* 底部结束 */

 
